/* #contact-form {
    border: solid 1px rgba(255,255,255, 0.5);
    padding: 20px;
} */
main {
    margin-top: 0;
}
form {
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    align-items: center;
}
label {
    margin-top: 20px ;
}
input[type="file"] {
    -webkit-appearance: none;
    padding-top: 10px;
}
input {
    /* margin-top: 20px; */
    -webkit-appearance: none;
    display: block;
    background-color: transparent;
    color: white;
    border: solid 1px rgba(255,255,255, 0.5);
    border-radius: 5px;
    width: 250px;
    height: 20px;
}
textarea {
    -webkit-appearance: none;
    display: block;
    background-color: transparent;
    color: white;
    border: solid 1px rgba(255,255,255, 0.5);
    border-radius: 5px;
    width: 250px;
    height: 200px;
}
button {
    margin: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: solid 1px rgba(255,255,255, 0.5);
    border-radius: 5px;
    -webkit-appearance: none;
    display: block;
    max-width: 150px;
    justify-self: flex-end;
    transition: background-color 150ms ease-in-out,
                border-color 150ms ease-in-out,
                color 150ms ease-in-out;
}

button:hover {
    border-color: white;
    background-color: white;
    color: black;
}