@font-face {
  font-family: "CeraBlack";
  src: url(../assets/fonts/cerabasic-black-webfont.woff),
    url(../assets/fonts/cerabasic-black-webfont.woff2);
}
@font-face {
  font-family: "CeraRegular";
  src: url(../assets/fonts/cerabasic-regular-webfont.woff),
    url(../assets/fonts/cerabasic-regular-webfont.woff2);
}
@font-face {
  font-family: "CeraBold";
  src: url(../assets/fonts/cerabasic-bold-webfont.woff),
    url(../assets/fonts/cerabasic-bold-webfont.woff2);
}
