.portfolio-main {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(9rem, 9rem));

  overflow-y: scroll;
  .content-card {
    height: 9rem;
    max-width: 100%;
    display: grid;
    column-gap: 2rem;
    grid-template-areas:
      "img title"
      "img text";
    grid-template-columns: 9rem auto;
    grid-template-rows: min-content;

    .content-card__img {
      grid-area: img;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    h2 {
      grid-area: title;
      margin: 0;
    }
    .content-card__text {
      overflow-y: scroll;
      grid-area: text;
    }
  }

  @media (max-width: 730px) {
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-template-rows: min-content;
    column-gap: 0;
    row-gap: 2rem;
  }
}
