@font-face {
  font-family: "Karu-Light";
  src: url("../assets/fonts/Karu-Extra-Light/Karu-ExtraLight.woff");
}
@font-face {
  font-family: "Karu-Medium";
  src: url("../assets/fonts/Karu-Medium/Karu-Medium.woff");
}
